{% extends 'base.html' %}
{% block title %}Doctor Login - HMS{% endblock %}

{% block content %}
<div class="login-bg">
  <div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="col-md-6">
      <div class="form-card text-center form-card-bg">
      <img src="{{ url_for('static', filename='icons/icon_doc.png') }}" alt="Doctor" class="header-icon mb-3">
      <h2 class="mb-3">Doctor Login</h2>
      <form method="POST">
        <div class="mb-3 text-start">
          <label class="form-label">Username (FirstNameLastName)</label>
          <input class="form-control" name="username" placeholder="e.g., JohnDoe" required>
        </div>
        <div class="mb-3 text-start">
          <label class="form-label">Password</label>
          <input class="form-control" name="password" type="password" required>
        </div>
        <button class="btn btn-primary w-100" type="submit">Login</button>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}